body {
  font-family: 'Montserrat Regular', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

.active-link {
  color: blue;
}

ul {
  padding-left: 0;
  margin: 0 auto;
  display: flex;
}

li {
  list-style-type: none;
}