<script>
    import {mapState} from 'vuex'

    export default {
        watch: {
            '$route.params.pageNumber'(newValue, oldValue) {
                this.getImages()
            }
        },
        computed: {
            ...mapState({
                images: state => state.images
            }),
            pageNumber() {
                return this.$route.params.pageNumber
            }
        },
        methods: {
            getImages() {
                return this.$store.dispatch('getImages', this.pageNumber)
            }
        },
        mounted() {
            this.getImages()
        }
    }
</script>
<template>
    <div class="p-images">
        <ul class="pagination">
            <li v-for="(page, index) in 10"
                :key="index"
                class="pagination-item">
                <router-link :to="{path: `/images/${page}`}"
                             active-class="pagination-active">
                    {{page}}
                </router-link>
            </li>
        </ul>
        <div v-if="images.length"
             class="images">
            <img v-for="(image, index) in images"
                 :key="index"
                 class="images-item"
                 v-img
                 :src="image.urls.regular"
                 :alt="image.alt_description"
                 :title="image.alt_description">
        </div>
        <div v-else class="preloader"></div>

    </div>
</template>

<style lang="scss" scoped>
    .images {
        @include miw(520) {
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            @include miw(520) {
                max-width: 50%;
                max-height: 400px;
                width: 33.3333%;
            }
            width: 100%;
            object-fit: cover;
        }
    }
</style>
