<script>
    export default {
        name: "app",
    };
</script>

<template>
    <div class="container">
        <ul class="navigation">
            <li class="navigation-item">
                <router-link class="navigation-item__link"
                             to="/"
                             active-class="active-link"
                             exact>
                    Home
                </router-link>
            </li>
            <li class="navigation-item">
                <router-link class="navigation-item__link"
                             to="/images/"
                             active-class="active-link">
                    Images
                </router-link>
            </li>
        </ul>
        <h1 class="page-title">
            {{ $route.meta.pageTitle }}
        </h1>
        <router-view></router-view>
    </div>
</template>

<style lang="scss" scoped>
    .page-title {
        margin-bottom: 30px;
    }

    .navigation {
        margin: 30px auto;

        &-item {
            text-transform: uppercase;
            font-weight: bold;

            &:first-child {
                margin-right: 20px;
            }
        }

        &-item__link {
            text-decoration: none;
            color: #282828;
            padding: 10px;

            &:hover {
                background-color: $c-main;
                color: white;
            }
        }
    }

    .active-link {
        color: lighten($c-black, 30%);
        background-color: $c-main;
        color: white;
        text-decoration: underline;
    }
</style>